.experience {
    background-color: rgb(187, 187, 188);
    width: 100%
}

.experience-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 60px;
    color:black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 30px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 30px auto;
}

.container-timeline {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.white-circle {
    width: 84px;
    height: 60px;
}

.container-timeline img {
    position: absolute;
    border-radius: 50%;
    right: -45px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -40px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 50.1%;
    margin-left: -3px;
}

/*New Experience Tab*/
.experience-black {
    background-color: black;
    width: 100%
}

.experience-title-white {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 60px;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 30px;
}
  
.card-experience {
    position: relative;
    width: 500px;
    height: 254px;
    background: #212121;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    margin: 50px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);

    
}

.textbox-experience {
    padding: 20px 30px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.15s; 
    color: white;

}
