.experience-lang {
    background-color: black;
    width: 100%;
    padding-bottom: 5%;
}

.experience-lang-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 60px;
    color:white;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 25px;
}

.lang-photos {
    display: flex;
    justify-content: center;
    align-items: center;
}


.lang-sizing1 {
    width: 90px;
    height: 100px;
    transition: 0.15s;
}
.lang-sizing1:hover {
    width: 100px;
    height: 110px;
}

.lang-sizing2 {
    margin-left: 70px;
    margin-right: 70px;
    width: 100px;
    height: 100px;
    transition: 0.15s;
}
.lang-sizing2:hover {
    width: 110px;
    height: 110px;
}

.lang-sizing3 {
    width: 70px;
    height: 100px;
    transition: 0.15s;
}
.lang-sizing3:hover {
    width: 80px;
    height: 110px;
}